/* ----------------------
Style Sheet for STUDIO INDIE
version: 1.0
author: Lucas Soares
-----------------------*/

::selection{
  background: #686868; 
}
::-moz-selection{
  background: #686868;
}
body,html, .capa{
	height: 100%;
}
body{
	font-family: Helvetica,Arial,sans-serif;
	background: url('../img/capa.png');
	background-attachment: fixed;
}
.navbar .navbar-nav{
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse{
  text-align: center;
}
.navbar-inverse{
	padding-top: 15px;
	padding-bottom: 15px;
	border:none;
	background-color: rgba(0,0,0,0.6);
}
.navbar-inverse .navbar-nav>li>a{
	text-transform: uppercase;
	font-weight: bold;
	color: white;
}
.navbar-inverse .navbar-nav>li>a:hover{
	text-decoration: underline;
}
.capa{
	display: table;
	width: 100%;
}
.texto-capa{
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
	font-family: "PressStart";
	text-transform: uppercase;
}
h1{
	font-size: 100px;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}
#sobre{
	background-color: white;
	padding: 20px;
}
#equipe{
	background-color: black;
	padding: 15px;
	color: white;
}
#imagens{
	background-color: white;
	padding: 15px;
}
#profissoes{
	padding-right: 15px;
	padding-left: 15px;
}
#programador{
	background-color: #9c1b31;
}
#roteirista{
	background-color: #811d5d;
}
#freelancer{
	background-color: #414244;
}
#artista{
	background-color: #95b94f;
}
#produtor{
	background-color: #22397f;
}
#game-design{
	background-color: #f3b417;
}
.linhas{
	padding: 15px;
	color: white;
}
.img-perfil{
	margin-top: 20px;
	border: solid 5px white;
	max-width: 200px;
	max-height: 200px;
}
footer{
	background-color: black;
	padding-top: 20px;
	padding-bottom: 10px;
	vertical-align: middle;
	color: white;
}
.texto-profissoes{
	text-align: center;
}
#aplicativo{
	padding: 15px;
	background-color: white;
}
#segundas-imagens{
	margin-top: 20px;
}
.container{
	display: table;
}
.caixa-frase{
	float: none;
	display: table-cell;
	vertical-align: middle;
}
.imagem-frase{
	float: right;
}
.frase{
	color: white;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -0.03em;
	font-style: italic;
}
#titulo-equipe{
	color: white;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: -0.02em;
}
#subtitulo-equipe{
	color: white;
	font-size: 18px;
	font-weight: 600px;
	letter-spacing: -0.02em;
	margin-bottom: 30px;
}
.btn-principal{
	background-color: transparent;
	color: white;
	padding: 20px;
	font-size: 15px;
	margin: 20px;
	font-weight: bold;
}
.btn-principal:hover{
	color: black;
	background-color: white;
	border-color: black;
}
.texto-descricao{
	color: black;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
}
.nome-link:hover{
	color: white;
}
.nome-link{
	color: white;
}
.funcao{
	font-size: 15px;
	margin-top: -5px;
}
.img-logo{
	height: 40px;
	width: 132px;
	display: block;
	background: url('../img/studioindie.png') no-repeat;
	background-size: contain;
	color: transparent;
}
.programador:hover{
	border-color:#9c1b31; 
}
.artista:hover{
	border-color:#95b94f;
}
.game-designer:hover{
	border-color: #f3b417;
}
.produtor:hover{
	border-color: #22397f;
}
#texto-descricao-aplicativo{
	color: black;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	margin-top:70px;
}
.imagem-esquerda{
	float: left;
}
.titulo-profissao{
	font-size: 25px;
	font-weight: 700;
	letter-spacing: -0.03em;
}
@font-face{
	font-family: "PressStart";
	src:url("PressStart2P-Regular.ttf") format("truetype");
}